@use '../../styles/partials/colors' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/global.scss' as *;

.social {
  margin: 2rem 3rem;
  padding: 2rem;
  background: linear-gradient(135deg, $soft-mint, $mint-green);
  border-radius: 12px;
  text-align: center;
  color: $dark-green;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);

  &__title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  &__text {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
  }

  &__links {
    display: flex;
    justify-content: center;
    gap: .5rem;

    @include tablet {
      gap: 1rem;
    }

    .social__button {
      background: $dark-green;
      color: $white;
      width: 6rem;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: .15rem;
      border-radius: 1.5rem;
      font-size: .665rem;
      text-decoration: none;
      font-weight: bold;
      text-transform: uppercase;
      transition: background-color 0.3s ease, transform 0.3s ease,
        box-shadow 0.3s ease;

        @include large-mobile {
            width: 8rem;
            padding: .6rem;
        }

        @include tablet {
            padding: .7rem;
            width: 10rem;
            font-size: .85rem;
        }

        @include desktop {
            width: 11rem;
        }

      &:hover {
        background: $soft-mint;
        color: $dark-green;
        border: 1px solid $white;
        transform: scale(1.05);
      }

      &:active {
        background: $white;
        color: green;
        transform: scale(0.98);
        border: 1px solid $soft-green;
      }
    }
  }

  &__badge-container {
    margin-bottom: 2rem;
  }

  &__badge-button {
    display: inline-block;
    background: linear-gradient(135deg, $white, $mint-green);
    color: $dark-green;
    padding: 1rem 1rem;
    border: .125rem solid $white;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    animation: buttonPulse 2s infinite;

    @include tablet {
        padding: 1rem 2rem;
        font-size: 1.2rem;
    }

    @include desktop {
        padding: 1rem 3.5rem;
    }

    &:hover {
      transform: scale(1.05);
      background: linear-gradient(135deg, $dark-green, green);
      color: $white;
      box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
    }

    &:active {
      transform: scale(0.95);
      color: $black;
      background: $white;
      border: .0625rem solid $mint-green;
      box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.5);
    }
  }

  @keyframes buttonPulse {
    0%,
    100% {
      box-shadow: 0 0 15px rgba(173, 255, 47, 0.5);
    }
    50% {
      box-shadow: 0 0 25px rgba(173, 255, 47, 0.8);
    }
  }
}