// Import partials
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/global.scss" as *;

.about {
    text-align: center;
    padding: 2rem;
  
    &__title {
      @include primary-font(700);
      font-size: 2.5rem;
      color: $dark-green;
      margin-bottom: 1rem;
    }
  
    &__info {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
  
      @include tablet {
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
      }
    }
  
    &__item {
      display: flex;
      align-items: center;
      gap: 0.75rem;
    }
  
    &__icon {
      font-size: 2rem;
      color: $light-green;
    }
  }