@use "../../styles/partials/colors" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/global.scss" as *;

.about {
  text-align: center;
  padding: 2rem;

  &__title {
    @include primary-font(700);
    font-size: 2.5rem;
    color: $dark-green;
    margin-bottom: 1.5rem;
    text-shadow: .125rem .25rem .625rem rgba(0, 0, 0, .2);
  }

  &__subtitle {
    font-size: 1.25rem;
    color: $dark-green;
    font-weight: 600;
    margin-top: .5rem;
    text-transform: uppercase;
    letter-spacing: .0625rem;
  }

  &__video-button {
    display: inline-block;
    padding: .75rem 2rem;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .0625rem;
    color: $white;
    margin-top: -1.5rem;
    background-color: green;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    text-decoration: none;
    transition: background-color .4s ease-in-out, transform .4s ease-in-out,
      box-shadow .4s ease-in-out;
    margin-bottom: 2rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);

    &:hover {
      background-color: $white;
      color: $deep-forest;
      transform: translateY(1.05);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, .4);
    }

    &:active {
      transform: translateY(.9);
      box-shadow: 0 .2rem .4rem rgba(0, 0, 0, .2);
      background-color: darken($deep-forest, 10%);
      color: lighten($white, 20%);
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    @include tablet {
      flex-direction: row;
      justify-content: center;
      gap: 3rem;
    }
  }

  &__item {
    background: rgba(255, 255, 255, .3);
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 .5rem 1.25rem rgba(0, 0, 0, .1),
      inset 0 .125rem .25rem rgba(255, 255, 255, .5);
    backdrop-filter: blur(.625rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 18rem;
    height: 22rem;
    transition: transform .3s ease, box-shadow .3s ease;

    &:hover {
      transform: translateY(-.3125rem);
      box-shadow: 0 .9375rem 1.875rem rgba(0, 0, 0, .2);
    }
  }

  &__icon {
    font-size: 3rem;
    color: green;
    filter: drop-shadow(0 .125rem .3125rem rgba(0, 0, 0, .2));
    transition: transform .75s ease;
  }

  &__item:nth-child(1):hover &__icon {
    animation: popIn 1.25s ease-out;
  }

  @keyframes popIn {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    50% {
      transform: scale(1.2);
      opacity: 1;
    }
    100% {
      transform: scale(1);
    }
  }

  &__item:nth-child(2):hover &__icon {
    animation: shake .75s ease-in-out;
  }

  @keyframes shake {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(5deg);
    }
    50% {
      transform: rotate(-5deg);
    }
    75% {
      transform: rotate(5deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  &__item:nth-child(3):hover &__icon {
    animation: drop 1.25s ease;
  }

  @keyframes drop {
    0% {
      transform: translateY(-1.25rem);
      opacity: 0;
    }
    50% {
      transform: translateY(.3125rem);
      opacity: 1;
    }
    70% {
      transform: translateY(-.125rem);
    }
    100% {
      transform: translateY(0);
    }
  }

  &__button {
    @include button-style(10rem, 2.75rem, $soft-mint, $dark-green);
    font-size: 0.75rem;
    text-transform: uppercase;
    border-radius: 1.5rem;
    font-weight: 600;
    transition: all 0.3s ease;
    text-decoration: none;

    &:hover {
      background-color: $dark-green;
      color: $white;
      box-shadow: 0 .375rem .9375rem rgba(100, 200, 120, .5);
      transform: scale(1.05);
    }

    &:visited,
    &:active {
      text-decoration: none;
      transform: scale(.9);
    }
  }
}