// Import partials
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/global.scss" as *;

.header {
  width: 100vw;
  display: flex;
  flex-direction: row !important;
  align-items: center;
  justify-content: space-between;
  background-color: $white;
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);

  &__logo {
    @include primary-font(700);
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $dark-green;
  }

  &__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.875rem;

    &-link {
      text-decoration: none;
      @include primary-font(500);
      font-size: 1rem;
      color: $dark-green;

      &:hover {
        color: $light-green;
      }
    }
  }

  &__toggle-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__toggle {
  width: 4rem;
  height: 2rem;
  border-radius: 1rem;
  background-color: $medium-gray;
  position: relative;
  border: none;
  cursor: pointer;
  padding: 0;
  transition: background-color 0.4s ease;

  &--light {
    background-color: #f0e68c; 
  }

  &--dark {
    background-color: #4d4d4d; 
  }

  &-switch {
    position: absolute;
    top: 0.15rem;
    left: 0.15rem;
    width: 1.7rem;
    height: 1.7rem;
    background-color: $white;
    border-radius: 50%;
    transition: transform 0.4s ease;

    .header__toggle--dark & {
      transform: translateX(2rem);
    }
  }

  &-icon {
    font-size: 1.2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: color 0.3s ease, text-shadow 0.3s ease;

        &--sun {
        color: #FFA500;  
        }

        &--moon {
        color: #C0C0C0;  
        }
    }
}


  @include mobile {
    flex-direction: column;
    padding: 0.625rem 1.25rem;
  }
}