// Import partials
@use '../../styles/partials/colors' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/global.scss' as *;

.sponsors {
  width: 100%;
  padding: 4rem 1.25rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    180deg,
    rgba(green, 0.75),
    rgba($soft-mint, .5)
  );

  &__title {
    @include primary-font(700);
    font-size: 2.8rem;
    color: $deep-forest;
    margin-bottom: 2.5rem;
    text-shadow: 2px 4px 15px rgba(0, 0, 0, 0.2);
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    width: 90%;
    gap: 3rem;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 2rem;
    padding: 2rem 3rem;
    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.2),
      -10px -10px 25px rgba(255, 255, 255, 0.4),
      inset 2px 2px 4px rgba(255, 255, 255, 0.3),
      inset -2px -2px 4px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
      transform: scale(1.02);
      box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
    }
  }

  &__logo-link {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__logo {
    width: 12rem;
    height: auto;
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.2));
    transition: transform 0.4s ease;

    &:hover {
      transform: scale(1.1) rotate(2deg);
    }

    &:active {
        transform: scale(.9) rotate(0deg);
    }

    @include mobile {
      width: 9rem;
    }
  }

  &__info {
    text-align: left;
    max-width: 600px;

    @include mobile {
      text-align: center;
    }
  }

  &__description {
    @include primary-font(500);
    font-size: 1.2rem;
    color: $dark-green;
    margin-bottom: 1rem;
    line-height: 1.6;
  }

  &__note {
    font-size: 1rem;
    color: $dark-gray;

    a {
      color: $dark-green;
      font-weight: bold;
      text-decoration: underline;

      &:hover {
        color: $light-green;
      }
    }
  }
}